<div class="photoback">
    <img src="./stall.jpg" alt="">
</div>
<h1 class="heading">Wo sind die Toiletten?</h1>
<div class="petitionPage">


    <div class="signBox">
        <h2>Welcome, <span class="firstName try"> {{first}}!</span></h2>
        <h3>Please sign in the field below</h3>
    {{#if error}}
        <div class="error">Oh no! Something went wrong!</div>
    {{/if}}
        <div class="canvasStuff">
            <canvas id="canv" width="350" height="100"></canvas>
            <!-- <br> -->
            <button id='clear' type="button" name="button">Clear Signature</button>
            <!-- <br> -->

            <!-- <br> -->
            <form method="POST">
                <input id="secret" type="hidden" name="sig" value="">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button id="sigSubmit" type="submit" name="button">Submit</button>
            </form>
        </div>


        <h3><a href="/editprofile">Edit Profile</a></h3>
        <h3><a href="/logout">Log Out</a></h3>
    </div>

</div>
