<div class="homeLogin">
    <!-- <h1 class="whatever">Wo sind die Toiletten?</h1> -->
    <div class="photoback">
        <img src="./stall.jpg" alt="">
    </div>
    <h1 class="heading">Wo sind die Toiletten?</h1>
<div class="home">
    <div class="loginBox">
        <h1>Please sign in here</h1>
        {{#if error}}
        <div class="error">Oh no, something went wrong!</div>

        {{/if}}
        <br>
        <form method="POST">
            <span class="credentials">Email Address:</span>
            <input class="logintable" type="text" name="email" placeholder="email">
            <span class="credentials">Password:</span>
            <input class="logintable" type="password" name="password" placeholder="password">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br>
            <button type="submit" name="button">Log In</button>
        </form>
        <br>
        <h3><a href="/register">Back to registration</a></h3>

    </div>
</div>
</div>


</div>
