body {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    background: rgb(187, 206, 223);
    background: linear-gradient(
        0deg,
        rgba(187, 206, 223, 1) 3%,
        rgba(255, 255, 255, 1) 81%
    );
    height: 800px;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

.error {
    text-align: center;
    color: red;
}

.home {
    padding: 10px;
    text-align: center;
}

.logintable {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.registertable {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

#deletesig {
    text-align: center;
    margin: 0 auto;
}

#canv {
    border: 2px solid black;
    color: black;
    cursor: crosshair;
}

img {
    height: 200px;
    margin: 0 auto;
    display: block;
}

#sigPic {
    height: 100px;
    margin: 0 auto;
}

.links {
    text-transform: capitalize;
    font-size: 18px;
}
.names {
    text-transform: capitalize;
    font-size: 18px;
}
.cities {
    text-transform: capitalize;
    font-size: 18px;
}

.signers {
    text-align: center;
    height: 800px;
    background: rgb(187, 206, 223);
    background: linear-gradient(
        0deg,
        rgba(187, 206, 223, 1) 3%,
        rgba(255, 255, 255, 1) 81%
    );
    overflow: scroll;
}

h2 {
    text-align: center;
}
.spicegirls {
    display: inline-block;
    position: relative;
    height: 150px;
}

.citysigners {
    text-align: center;
    background: rgb(187, 206, 223);
    background: linear-gradient(
        0deg,
        rgba(187, 206, 223, 1) 3%,
        rgba(255, 255, 255, 1) 81%
    );
    height: 800px;
}

.credentials {
    font-style: italic;
}

.editProfile,
.profiletable {
    display: block;
    text-align: center;
    margin: 1px auto;
}

.firstName {
    text-transform: lowercase;
    text-transform: capitalize;
}

#profileEdit,
#profileTable {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#spice4 {
    height: 250px;
}

.jumping {
    height: 300px;
}
.songs {
    text-transform: uppercase;
}

#s {
    position: relative;
    left: -250px;
    animation-fill-mode: forwards;
    animation: slide-s 7s infinite;
}
#p {
    position: relative;
    left: -150px;
    animation-fill-mode: forwards;
    animation: slide-p 7s infinite;
}
#i {
    animation-fill-mode: forwards;
    animation: i 7s infinite;
}

#c {
    position: relative;
    left: 150px;
    animation-fill-mode: forwards;
    animation: slide-c 7s infinite;
}

#e {
    position: relative;
    left: 250px;
    animation-fill-mode: forwards;
    animation: slide-e 7s infinite;
}

@keyframes slide-s {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(250px);
    }
    100% {
        transform: translateX(250px);
    }
}
@keyframes slide-p {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(150px);
    }
    100% {
        transform: translateX(150px);
    }
}

@keyframes i {
    0% {
        transform: scale(0, 0);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes slide-c {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(-150px);
    }
}

@keyframes slide-e {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-250px);
    }
    100% {
        transform: translateX(-250px);
    }
}

@keyframes slideright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(95px);
    }
    100% {
        transform: translateX(95px);
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-190px);
    }
    100% {
        transform: translateX(-190px);
    }
}

.songs {
    color: #929eb2;
}
